*.csproj
.idea/.idea.Grill Sort/.idea/.gitignore
.idea/.idea.Grill Sort/.idea/encodings.xml
.idea/.idea.Grill Sort/.idea/indexLayout.xml
.idea/.idea.Grill Sort/.idea/vcs.xml
Grill Sort.sln
Library/
Temp/
UserSettings/
obj/
Logs/
Assets/Firebase/
Assets/GeneratedLocalRepo/
Assets/Plugins/iOS/Firebase/
Assets/Plugins/tvOS/Firebase/
Assets/AddressableAssetsData/link.xml
Assets/AddressableAssetsData/link.xml.meta
Grill Sort.rar
.vsconfig
GrillSort.sln
Assets/sonat_sdk_v2.meta
.vs/
.vscode/
.idea/
Assets/Plugins/Android/FirebaseCrashlytics.androidlib/res/values/crashlytics_build_id.xml
results/
Assets/ML-Agents/
ProjectSettings/TimelineSettings.asset
.venv/
Assets/FR2_Cache.*
Assets/_MyGame/SkewerJam/Fonts/FontNew/CHINA/NotoSansSC-ExtraBold.ttf
Assets/_MyGame/SkewerJam/Fonts/FontNew/CHINA/NotoSansSC-ExtraBold.ttf.meta
